.box{
    background-color: #ADC9A6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
header{
    background-color:  #153C3C;
    display: flex;
    align-items: center;
    padding: 30px 80px;
    gap: 80px;
    .ul_text{
        display: flex;
        list-style: none;
        gap: 50px;
    }
}
.global_btn{
    padding: 9px 24px;
    background-color:  #84A17D; 
    margin-left: 1000px;

}
.li_text{
    text-decoration: none;
    color: #fff;
    border: none;
}
@media (max-width: 1000px) {
    .box{
      width: 90%;
      justify-content: center;
      text-align: center;
    }
}
@media (max-width: 1730px) {
    .global_btn header {
        display: none;
    }
}
