.div_h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.div_h1 h1 {
  width: 283px;
  height: 48px;
  padding: 8px 18px;
  background-color: #f3f7f2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 11px;
}

.text_title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 62px;
  margin-bottom: 5px;
  margin: 0;
}

.images_svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images_png_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
}

.images_png {
  width: 1280px;
  height: 562px;
}

.text_title_2 {
  width: 283px;
  height: 48px;
  padding: 8px 18px;
  background-color: #f3f7f2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 11px;
}

.text_title_3 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 62px;
  margin-bottom: 5px;
  margin: 0;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 96px;
}
.content .card {
  width: 510px;
  height: 613px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.div_h2 .text_title_4 {
  width: 93px;
  height: 32px;
  padding: 8px 18px;
  background-color: #f3f7f2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 11px;
}

.text_title_5 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  margin-bottom: 5px;
  margin: 0;
}

.content_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.content_2 .card_2 {
  width: 510px;
  height: 613px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0;
}
.content_2 .card_2 .company_img {
  padding-left: 56px;
  margin-bottom: 40px;
}
.content_2 .card_2 .about_text {
  font-size: 21px;
  padding-top: 40px;
  padding-left: 56px;
}

.text_title_6 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  margin-bottom: 96px;
}

.cards {
  width: 510px;
  height: 120px;
  display: flex;
  align-items: center;
  gap: 300px;
  background-color: #F2F8F8;
}
.cards .strelka {
  width: 17px;
  height: 17px;
}
.cards .cards_text {
  padding: 44px 40px;
  font-size: 21px;
  text-align: center;
}

.content_4 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.stress {
  background-image: url(../../images/19.svg);
}
.stress .butter {
  display: flex;
  gap: 20px;
  margin-left: 64px;
  margin-bottom: 64px;
}
.stress .usd_dollar {
  font-size: 40px;
  color: #ADC9A6;
  margin: 0;
  padding-bottom: 64px;
}
.stress .website {
  font-size: 12px;
  color: #fff;
}
.stress .text_title_7 {
  padding: 64px 542px 34px 64px;
  color: #fff;
  font-size: 36px;
}
.stress .global_btn_2 {
  width: 142px;
  height: 48px;
  border-radius: 4px;
  background-color: #84A17D;
}

@media (max-width: 1730px) {
  .images_png_1 {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1730px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */